/*
tan: #83838C
pink: #F3E9E7
brown: #4C4743
muted brown: #8B8E81
green: #344F48
  */

body {
  line-height: 1.6;
  font-family: 'Muli', sans-serif;
  background-color: #344F48;
  color: #F3E9E7;
}

nav a:hover, a:active {
  border-top: 4px solid #CBA78D;
  border-bottom: 4px solid #CBA78D;
  padding: 6px 0;
}

nav a {
  transition: 0.3s ease;
  background: #344F48;
  color: #F3E9E7;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #344F48;
  border-bottom: 4px solid #344F48;
  padding: 20px 0;
  margin: 0 20px;
}

.about h1 {
  color: #D4FF00;
}

.about {
  margin-left: 10%;
  margin-right: 10%;
}

.btn {
  font-size: 14px;
  padding: 16px 16px;
  outline: none;
  border-radius: 2px;
  margin-right: 20px;
  background-color: #8C8D81;
  color: #4C4743;
  border: 2px solid #D4FF00;
}

.btn2 {
  text-align: center;
  font-size: 14px;
  padding: 16px 16px;
  outline: none;
  border-radius: 2px;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 20px;
  background-color: #8C8D81;
  color: #D4FF00;
  border: 2px solid #D4FF00;
}

.btn a {
  color: #D4FF00;
  text-decoration: none;
}

.btn2 a {
  color: #D4FF00;
  text-decoration: none;
}

.home {
  text-align: center;
}


.intro {
  color: #F3E9E7;
  text-transform: uppercase;
  border: 6px solid #D4FF00;
  padding: 20px 20px;
  margin-top: 60px;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 100px;
}

.intro h1{
  font-size: 3em;
  line-height: 1em;
}

nav {
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.portfolio {
  margin-left: 5%;
  margin-right: 5%;
}

.project {
  font-size: 14px;
  background-color: #F3E9E7;
  color: #4C4743;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project img {
  width: 200px;
}

.oe {
  margin-left: 5%;
  margin-right: 5%;
}

.port {
  background-color: #F3E9E7;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.port img {
  width: 350px;
}

.porttext {
  background-color: #CBA78D;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 20px;
}

.resume {
  background-color: #8C8D81;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.resume img {
  width: 350px;
  justify-content: center;
}

h3 {
  font-size: 28px;
}

h4 {
  margin-bottom: -10px;
  font-size: 18px;
  text-transform: uppercase;
}

.skills {
  display: flex;
  /*max-width: 80%;*/
  flex-wrap: wrap;
}

.skillItem {
  text-align: center;
  margin-top: 10px;
  background-color: #8C8D81;
  color: #4C4743;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  border: 4px solid #D4FF00;
  width: 160px;
  flex-direction: row;
}

footer {
  background-color: #F3E9E7;
  color: #4C4743;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
}
